
body, pre {
  padding: 10px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  margin: 0;
  padding: 3px 0;
}

pre {
  margin: 0 0 5px;
  padding: 0;
}

.original {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
}
